<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
     
      <add name="ConnectionString" connectionString="Data Source=.\sqlserver;Initial Catalog=QLPhongKham;Integrated Security=True" />
      <add name="ManageClinic.Properties.Settings.QLPhongKham" connectionString="Data Source=.\sqlserver;Initial Catalog=QLPhongKham;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <!--sdf-->
    </connectionStrings>
</configuration>